<!DOCTYPE html>
<html>
<head>
  <title>Audio Recorder</title>
  <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
</head>
<body>
  <h1>Audio Recorder</h1>

  <button id="recordButton">Record</button>
  <button id="stopButton" disabled>Stop</button>
  <button id="downloadButton" disabled>Download</button>

  <script>
    var recordButton = document.getElementById('recordButton');
    var stopButton = document.getElementById('stopButton');
    var downloadButton = document.getElementById('downloadButton');
    var audioStream;
    var audioContext;
    var recorder;

    recordButton.addEventListener('click', startRecording);
    stopButton.addEventListener('click', stopRecording);
    downloadButton.addEventListener('click', downloadRecording);

    function startRecording() {
      recordButton.disabled = true;
      stopButton.disabled = false;
      downloadButton.disabled = true;

      var constraints = { audio: true };

      navigator.mediaDevices.getUserMedia(constraints)
        .then(function(stream) {
          audioStream = stream;
          audioContext = new (window.AudioContext || window.webkitAudioContext)();
          var input = audioContext.createMediaStreamSource(stream);
          recorder = new Recorder(input, {
            numChannels: 1, // Set to 1 for mono recording
            sampleRate: 104100, // Set the desired sample rate (44100 Hz by default)
            bitRate: 928000 // Set the desired bitrate (128000 bps by default)
          });
          recorder.record();
        })
        .catch(function(err) {
          console.error('Error accessing microphone: ' + err);
        });
    }

    function stopRecording() {
      recordButton.disabled = false;
      stopButton.disabled = true;
      downloadButton.disabled = false;

      recorder.stop();
      audioStream.getAudioTracks()[0].stop();
      recorder.exportWAV(function(blob) {
        var url = URL.createObjectURL(blob);
        downloadButton.href = url;
      });
      recorder.clear();
    }

    function downloadRecording() {
      var fileName = 'recording.wav';
      var a = document.createElement('a');
      document.body.appendChild(a);
      a.style = 'display: none';
      a.href = downloadButton.href;
      a.download = fileName;
      a.click();
      window.URL.revokeObjectURL(downloadButton.href);
    }
  </script>
</body>
</html>
