<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Form</title>
    <style>
        
    </style>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="parent">
            <input type="text" name="label" value="name" id="label">
            <input accept="audio/wav" type="file" hidden name="name_audio" id="name_audio">
            <a id="record_name">Hold to Record</a>
            <br/>
            <button>Previous</button>
            <button>Next</button>
        </div>
    </form>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script>
        let record_button = document.getElementById('record_name');
        let name_audio_input = document.getElementById('name_audio');
        var recorder;
        // let recorder = Recorder();
        record_button.addEventListener('mousedown', (e) => {
            startRecording();


        })
        record_button.addEventListener('mouseup', (e) => {

            stopRecording();
            e.preventDefault();
            return false
        })

        function startRecording() {

      var constraints = { audio: true };

      navigator.mediaDevices.getUserMedia(constraints)
        .then(function(stream) {
          audioStream = stream;
          audioContext = new (window.AudioContext || window.webkitAudioContext)();
          var input = audioContext.createMediaStreamSource(stream);
          recorder = new Recorder(input, {
            numChannels: 1, // Set to 1 for mono recording
            sampleRate: 104100, // Set the desired sample rate (44100 Hz by default)
            bitRate: 928000 // Set the desired bitrate (128000 bps by default)
          });
          recorder.record();
        })
        .catch(function(err) {
          console.error('Error accessing microphone: ' + err);
        });
    }

    function stopRecording() {

      recorder.stop();
      audioStream.getAudioTracks()[0].stop();
      recorder.exportWAV(function(blob) {
        let file = new File([blob], "rec.wav",{ lastModified:new Date().getTime()});
        let container = new DataTransfer();
        container.items.add(file);
        console.log(container.files[0]);
        console.log(name_audio_input);
        name_audio_input.files = container.files;
        // var url = URL.createObjectURL(blob);
        // downloadButton.href = url;
      });
      
      recorder.clear();
    }

</script>
</body>
</html>